<section>
  <div class="col">
    <div class="row">
      <h2>Tweets</h2>
    </div>
  </div>
</section>
<section>
  <div class="col-4">
    <div class="row">
      <%= render "form.html", Map.put(assigns, :action, Routes.page_path(@conn, :create)) %>
    </div>
  </div>
</section>
<div id="tweets"></div>
