<section>
  <div class="col">
    <h2>Tweets</h2>
  </div>
</section>
<section>
  <div class="col-4">
    <%= render "form.html", Map.put(assigns, :action, Routes.page_path(@conn, :create)) %>
  </div>
</section>
<div id="tweets"></div>
