<h2>Tweets</h2>
<div>
<%= render "form.html", Map.put(assigns, :action, Routes.page_path(@conn, :create)) %>
</div>
<%= for tweet <- @tweets do %>
<div>
<div><%= tweet.handle %></div>
<div><%= tweet.content %></div>
<div><%= TweeterWeb.PageController.format_timestamp(tweet) %></div>
</div>
<% end %>
